
.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	--webkit-transition : background 0.6s;
	-moz-transition: background 0.6s;

}

#container{
	max-width: 600px;
	margin: 20px auto;
}

h1{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
}



#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
		color: white;
	background: steelblue;
}

body{
	background-color: #232323;
	margin: 0;
	font-family: "Arial";
}

#colorDisplay{
	font-size: 200%;
}

button{
	border: none;
	background:none;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
		--webkit-transition : all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;

}

#message{
	display: inline-block;
	width: 20%; 
}

button:hover{
	color: white;
	background: steelblue;
}
